openapi: 3.2.0
info:
  title: ISBNdb API v2 Subject API
  description: "Definition of ISBNdb.com API v2.\n\n***Note: A 404 Not Found response for an ISBN lookup typically\nindicates that the book information is not yet available in our database.\nHowever, due to frequent updates, there is a high probability that the data will be \nadded shortly, often within a minute or up to 24 hours. We recommend trying your request \nagain after a while, as the information may soon become accessible***\n"
  version: 2.7.0
servers:
- url: https://api2.isbndb.com
  description: API Endpoint
tags:
- name: Subject
  description: Subject
paths:
  /subjects/{query}:
    get:
      tags:
      - Subject
      summary: Search subjects
      description: This returns a list of subjects that match the given query
      operationId: get_app_api_subject_searchsubjects__invoke
      parameters:
      - name: query
        in: path
        description: 'The search query string. **Max length: 150 characters**.'
        required: true
        schema:
          type: string
          pattern: .+
      - name: page
        in: query
        description: The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them
        required: false
        schema:
          description: The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them
          type:
          - integer
          - 'null'
          default: 1
      - name: pageSize
        in: query
        description: How many items should be returned per page, maximum of 1,000
        required: false
        schema:
          description: How many items should be returned per page, maximum of 1,000
          type:
          - integer
          - 'null'
          default: 20
      responses:
        '200':
          description: The query string found results in the author's database
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSubjectResponse'
      security:
      - ApiKeyAuth: []
  /subject/{name}:
    get:
      tags:
      - Subject
      summary: Gets subject details
      description: Returns the name and a list of books by the subject.
      operationId: get_app_api_subject_subjectsdetails__invoke
      parameters:
      - name: name
        in: path
        description: 'The subject name. **Max length: 150 characters**.'
        required: true
        schema:
          type: string
          pattern: .+
      - name: language
        in: query
        description: Language code to filter books by language (e.g., `eng` for English, `fra` for French, etc.)
        required: false
        schema:
          description: Language code to filter books by language (e.g., `eng` for English, `fra` for French, etc.)
          type:
          - string
          - 'null'
          default: null
          maxLength: 50
      - name: page
        in: query
        description: The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them
        required: false
        schema:
          description: The number of page to retrieve, please note the API will not return more than 10,000 results no matter how you paginate them
          type:
          - integer
          - 'null'
          default: 1
      - name: pageSize
        in: query
        description: How many items should be returned per page, maximum of 1,000
        required: false
        schema:
          description: How many items should be returned per page, maximum of 1,000
          type:
          - integer
          - 'null'
          default: 20
      - name: publishedFrom
        in: query
        description: 'Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. Cannot be combined with the `year` parameter.'
        required: false
        schema:
          description: 'Filter books published on or after this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. Cannot be combined with the `year` parameter.'
          type:
          - string
          - 'null'
          pattern: .*(^\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\d|3[01]))?)?$).*
          default: null
      - name: publishedTo
        in: query
        description: 'Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. Cannot be combined with the `year` parameter.'
        required: false
        schema:
          description: 'Filter books published on or before this date. Accepted formats: `YYYY`, `YYYY-MM`, `YYYY-MM-DD`. Cannot be combined with the `year` parameter.'
          type:
          - string
          - 'null'
          pattern: .*(^\d{4}(-(0[1-9]|1[0-2])(-(0[1-9]|[12]\d|3[01]))?)?$).*
          default: null
      responses:
        '200':
          description: Returns the book details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubjectDetailsResponse'
      security:
      - ApiKeyAuth: []
components:
  schemas:
    Point:
      required:
      - x
      - y
      properties:
        x:
          type: string
        y:
          type: string
      type: object
    SubjectDetailsResponse:
      required:
      - subject
      - name
      - books
      - total
      - page
      - page_size
      properties:
        subject:
          type: string
        name:
          type: string
        books:
          type: array
          items:
            $ref: '#/components/schemas/Book'
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
      type: object
    Book:
      required:
      - title
      - title_long
      - isbn
      - isbn13
      - date_published
      properties:
        title:
          description: Title
          type: string
        title_long:
          description: Title
          type: string
          deprecated: true
        isbn:
          description: ISBN-13
          type: string
          deprecated: true
        isbn13:
          description: ISBN-13
          type: string
        isbn10:
          description: Book ISBN-10, if available
          type:
          - string
          - 'null'
        binding:
          description: Book binding type (e.g. Hardcover, Paperback, eBook)
          type:
          - string
          - 'null'
        publisher:
          description: Name of the publisher
          type:
          - string
          - 'null'
        language:
          description: Language of the book (ISO 639-1 code or full name)
          type:
          - string
          - 'null'
        date_published:
          description: A publication date in YYYY-MM-DD, YYYY-MM, or YYYY format.
          type: string
          format: date
          example: '2023-10-26'
        edition:
          description: Edition of the book (e.g. 3rd, Revised)
          type:
          - string
          - 'null'
        pages:
          description: Number of pages in the book
          type:
          - integer
          - 'null'
        dimensions:
          description: Physical dimensions of the book as a formatted string
          type:
          - string
          - 'null'
          deprecated: true
        dimensions_structured:
          description: Structured physical dimensions of the book (height, width, weight, etc.)
          oneOf:
          - type: array
            items: {}
          - type: object
            additionalProperties: {}
        overview:
          description: Brief overview or description of the book
          type:
          - string
          - 'null'
          deprecated: true
        image:
          description: Image link. Maximum height is 500px.
          type:
          - string
          - 'null'
        image_original:
          description: 'Original image link. Note: This URL is temporary and will expire 2 hours after the API response is generated.'
          type:
          - string
          - 'null'
        msrp:
          description: Manufacturer's suggested retail price
          type:
          - number
          - 'null'
          format: float
        excerpt:
          description: Short excerpt from the book
          type:
          - string
          - 'null'
        synopsis:
          description: Full synopsis or summary of the book
          type:
          - string
          - 'null'
        authors:
          description: List of authors of the book
          type:
          - array
          - 'null'
          items:
            type: string
        subjects:
          description: List of subjects or categories the book belongs to
          type:
          - array
          - 'null'
          items:
            type: string
        reviews:
          description: User or editorial reviews of the book
          type:
          - array
          - 'null'
          items:
            type: string
          deprecated: true
        prices:
          description: Available prices from various merchants
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Price'
        related:
          description: Related books
          deprecated: true
          oneOf:
          - type: array
            items: {}
          - type: object
            additionalProperties: {}
        other_isbns:
          description: Other ISBNs associated with this book (e.g. different formats or editions)
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RelatedIsbn'
      type: object
    SearchSubjectResponse:
      required:
      - name
      - subjects
      - total
      - page
      - page_size
      properties:
        name:
          type: string
        subjects:
          type: array
          items:
            type: string
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
      type: object
    RelatedIsbn:
      required:
      - isbn
      - binding
      properties:
        isbn:
          description: ISBN-13 of the related edition
          type: string
        binding:
          description: Binding type of the related edition (e.g. Hardcover, Paperback)
          type: string
      type: object
    Price:
      required:
      - condition
      - merchant
      - merchant_logo
      - merchant_logo_offset
      - shipping
      - price
      - total
      - link
      properties:
        condition:
          description: Condition of the book offered at this price (e.g. new, used, digital)
          type: string
        merchant:
          description: Name of the merchant offering this price
          type: string
        merchant_logo:
          description: URL of the merchant logo image
          type: string
        merchant_logo_offset:
          $ref: '#/components/schemas/Point'
        shipping:
          description: Shipping cost for this offer
          type: string
        price:
          description: Item price excluding shipping
          type: string
        total:
          description: Total price including shipping
          type: string
        link:
          description: URL to purchase the book from this merchant
          type: string
      type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
